@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Namespace Custom Styles to Avoid Conflicts */
.home-custom {
  height: 100vh;
  background-color: #F4F5FC;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.home-custom .aside-custom {
  background-color: #FFFFFF;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
}

.home-custom .header-custom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-custom .pinture-container-custom {
  width: 100%;
}

.home-custom .pinture-custom {
  width: inherit;
}

.nav-custom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-custom .item-custom {
  padding: 5px 10px;
  border-radius: 4px;
  gap: 10px;
  display: flex;
  align-items: center;
  transition: 500ms;
  cursor: pointer;
}

.nav-custom .item-custom:hover {
  background-color: #EA8374;
  color: #FEFFFE;
}

.nav-custom .icon-custom {
  font-size: 20px;
  transition: 500ms;
}

.nav-custom .item-custom:hover .icon-custom {
  transform: scale(1.2);
  color: #FEFFFE;
}

.footer-custom {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
}

.footer-custom .avatar-container-custom {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 100%;
}

.content-custom {
  padding: 10px;
  display: grid;
  gap: 15px;
}

.resume-custom {
  background-color: #FFFFFF;
  padding: 5px;
  height: 20vh;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.resume-custom .container-custom {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-container-custom {
  padding: 20px;
  border-radius: 100%;
}

.details-custom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  grid-template-rows: 30vh 35vh;
  grid-template-areas: 
    "grafict clients" 
    "products products";
}

.details-custom .grafict-custom,
.details-custom .clients-custom,
.details-custom .products-custom {
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 7px;
}
