@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Narrower scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(234, 131, 115, 0.5); /* 50% opacity */
  border-radius: 4px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(234, 131, 115, 0.5) transparent; /* 50% opacity */
}
